<header class="header">

<div class="logo">
Shashi DevOps
</div>


<nav class="nav-menu">

<a href="#home">Home</a>
<a href="#tools">Tools</a>
<a href="#skills">Skills</a>
<a href="#companies">Companies</a>
<a href="#experience">Experience</a>
<a href="#projects">Projects</a>
<a href="#contact">Contact</a>

</nav>


<div style="display:flex;align-items:center;gap:14px">

<div class="header-icons">

<a id="emailLink" class="icon-btn">
<img src="assets/icons/email.png">
</a>

<a id="phoneLink" class="icon-btn">
<img src="assets/icons/phone.png">
</a>

<a id="whatsappLink" class="icon-btn">
<img src="assets/icons/whatsapp.png">
</a>

<a id="linkedinLink" class="icon-btn">
<img src="assets/icons/linkedin.png">
</a>

<a id="githubLink" class="icon-btn">
<img src="assets/icons/github.png">
</a>

</div>


<a id="resumeBtn" class="resume-btn" download>
Resume
</a>

</div>

</header>